<h1>Dashboard</h1>
<p>
    <%= user.name %>
</p>
<a href="/team/register">Criar time</a>
<a href="/team/list?userId=<%= user.id %>">Meus times</a>
<a href="/logout">Sair</a>

<h1>Times</h1>
<% for (let i=0; i < teams.length; i++) { %>
    <ul>
        <li>
            <div>
                <p><%= teams[i].name %></p>
                <p>Responsável: <%= teams[i].boosName ?? "Sem responsável" %></p>
                <a href="/team/participants?teamId=<%=teams[i].id%>">Ver participantes</a>
                <% if (teams[i].participate == false) { %>
                    <a href="/team/invite?teamId=<%=teams[i].id%>&&userId=<%=user.id%>">Enviar convite</a>
                <% } %>
            </div>
        </li>
    </ul>
<% } %>
<h1>Usuários</h1>
<% for (let j=0; j < users.length; j++) { %>
    <ul>
        <li>
            <div>
                <p><%= users[j].name %></p>
                <a href="/team/list?userId=<%= users[j].id %>">Ver times</a>
            </div>
        </li>
    </ul>
<% } %>
